body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
}

.song-list {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/*曲のボタン大きさ設定*/
#senbon {
  margin: 0;
  padding: 10px;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#senbon:hover {
  background-color: #555;
}

#syaruru {
  margin: 0;
  padding: 10px;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#syaruru:hover {
  background-color: #555;
}

#over {
  margin: 0;
  padding: 10px;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#over:hover {
  background-color: #555;
}
/*ここまで*/
.song-preview {
  margin-top: 20px;
}

audio {
  width: 100%;
  margin-top: 10px;
}

.select-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}
